<!DOCTYPE html>
{% load socialaccount %}
{% load static %}

<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet'
        href='https://cdnjs.cloudflare.com/ajax/libs/overlayscrollbars/1.9.1/css/OverlayScrollbars.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/bulma-modal-fx/dist/css/modal-fx.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
		integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">   
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" /> 
    <title>{% block title %}
      
    {% endblock title %}</title>
    
</head>

<body>
    
    <nav class="navbar">
        <div class="navbar-brand">
          <a class="navbar-item" href="{% url 'myapp:home' %}">
              <p>Logo-dena hai</p>
          </a>
          <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      
        <div id="navbarExampleTransparentExample" class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                    <a class="button is-danger  is-outlined" href="{% url 'myapp:category' %}">
                        <span>Explore</span>
                    </a>
                </p>
                <p class="control">
                    <a class="button is-link  is-outlined" href="{% url 'myapp:upload' %}">
                        <span>Share</span>
                    </a>
                </p>
                {% if user.is_authenticated %}
                    <figure class="image">
                        <img class="is-rounded" src="https://lh3.googleusercontent.com/a-/AOh14Ggdx2ijx3DAOPnoC0wixIHJTCYPJ8ygFCM189s4=s96-c">
                    </figure>
                    <p class="control">
                        <a class="button is-link  is-outlined" href="#">
                            <span>Logout</span>
                        </a>
                    </p>
                {% else %}
                    <p class="control">
                        <a class="button is-link  is-outlined" href="{% provider_login_url 'google' %}">
                            <span>Login with Google</span>
                        </a>
                    </p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>

    {% block content %}

    {% endblock content %}

    <footer class="footer ">
    
    </footer>

<!-- Scripts -->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

// Get all "navbar-burger" elements
const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

// Check if there are any navbar burgers
if ($navbarBurgers.length > 0) {

  // Add a click event on each of them
  $navbarBurgers.forEach( el => {
    el.addEventListener('click', () => {

      // Get the target from the "data-target" attribute
      const target = el.dataset.target;
      const $target = document.getElementById(target);

      // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
      el.classList.toggle('is-active');
      $target.classList.toggle('is-active');

    });
  });
}

});
    </script> 
</body>
</html