{%extends 'base.html'%}

{%block content%}

<style>
    .items{
        margin-top: 10px;
        font-weight: bold;
    }
    img{
      margin-bottom: 60px; 
    }
    .is-is-size-6{
         font-weight: 900;
    }

.status{
   color:green
  }
  .status-00{
   color:red
  }
</style>
<section class="hero is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-half has-text-left">
                    {%if item.Available%}
                    <h1 class="title is-1">{{item.item_name}}</h1><p class="status-01">AVAILABLE</p>

                    {%else%}
                    <h1 class="title is-1">{{item.item_name}}</h1><p class="status-00">Unavailable</p>
                    {%endif%}
                    <p class="is-size-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
                        voluptate facere molestiae consequatur.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla eligendi soluta
                        voluptate facere molestiae consequatur.
                    </p>
                    <div class="items">
                       <p>ITEM BY: AMAN GOPE</p> 
                       <p>amangope@gmail.com</p>
                        
                    </div>
                </div>
                <div class="column is-one-third has-text-left">
                  
                      <img src="../media/images/chai.jpg">
                      <form action="" method="post">
                        {% csrf_token %}
                      <div class="control">
                        <button type="submit" class="button is-link is-fullwidth has-text-weight-medium is-medium">
                            {%if item.Available%}
                            Request Item
                            {%else%}
                            Sorry :(
                            {%endif%}

                        </button>
                </div>
            </form>
            </div>
        </div>
    </div>
</section>
{%endblock%}